[submodule "extern/imgui"]
	path = extern/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "extern/glfw"]
	path = extern/glfw
	url = https://github.com/glfw/glfw.git
[submodule "extern/reflect-cpp"]
	path = extern/reflect-cpp
	url = https://github.com/getml/reflect-cpp.git
